.container {
  height: 30vh;
  width: 30vw;
  background-color: rgb(224, 230, 224);
  margin: 10rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.parent h3 {
  margin-bottom: 1rem;
}
